* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid dimgrey;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.body__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.body__main {
  width: 100%;
}

.body__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}